src/*.exe
src/cryptium
src/cryptiumd
src/test_cryptium
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.cryptium

# Compilation and Qt preprocessor part
*.qm
Makefile
cryptium-qt
Cryptium-Qt.app

# Unit-tests
Makefile.test
cryptium-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
